@model CamV4.Models.CustomerLocation
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<script src="~/NgScript/Controller/customerCtrl.js"></script>

<main class="main-content2 position-relative max-height-vh-100 h-100 " ng-app="myApp" ng-controller="customerCtrl">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="@Url.Action("ManageCustomer", "Admin")">Dashboard</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Company Location</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Hello @Session["LoggedInUserName"]!</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                </div>
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-flex align-items-center">
                        <a href="@Url.Action("Login", "Account")" class="nav-link text-body font-weight-bold px-0">
                            <i class="fa fa-sign-out me-sm-1"></i>
                            <span class="d-sm-inline d-none">Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header card-blue p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="pt-4 pb-4">
                            <h6 class="text-white text-capitalize ps-3 mt-2">Add Company Location @Session["CustomerId"]</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="">
                            <input id="antiForgeryToken" ng-model="antiForgeryToken" type="hidden" ng-init="antiForgeryToken='@GetAntiForgeryToken()'" />
                            <div class="row">
                                <input type="hidden" name="Customer" ng-model="customer" ng-init="customer = @Session["CustomerId"]" value="@Session["CustomerId"]">
                                <!--        <div class="col-sm-2">
            <span>Customer Name</span>
        </div>
        <div class="col-sm-4">
            <div class="input-group input-group-outline mb-3">
                <select name="Customer" class="form-control" ng-model="customer">
                    <option value="">-- Select --</option>
                    <option ng-repeat="d in getAllCustomersByUserType" value="{{d.UserId}}">{{d.UserName}}</option>
                </select>
            </div>
        </div>-->
                                <div class="col-sm-2">
                                    <span>Location ID</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <input type="text" class="form-control" name="LocationName" id="LocationName" ng-model="locationname">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <span>Location Address</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <input type="text" class="form-control" name="CustomerAddress" id="CustomerAddress" ng-model="customeraddress">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>Country</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <select name="country" id="drpcountry" class="form-control" ng-model="country" ng-change="GetProvincebyCountryId()">
                                            <option value="">-- Select --</option>
                                            <option ng-repeat="d in getAllCountries" value="{{d.CountryID}}">{{d.CountryName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <span>Province</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <select name="province" id="drpprovince" class="form-control" ng-model="province" ng-change="GetCitybyProvinceId()">
                                            <option value="">-- Select --</option>
                                            <option ng-repeat="d in getProvincebyCountryId" value="{{d.ProvinceID}}">{{d.ProvinceName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>City</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <select name="city" class="form-control" ng-model="city">
                                            <option value="">-- Select --</option>
                                            <option ng-repeat="d in getCitybyProvinceId" value="{{d.CityID}}">{{d.CityName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <span>Pin</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <input type="text" class="form-control" name="pincode" id="pincode" ng-model="pin" maxlength="8">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>Region</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <input type="text" class="form-control" name="region" id="region" ng-model="region" maxlength="20">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">                                        
                                    </div>
                                </div>
                            </div>
                            <div class="text-center float-sm-start">

                                <a href="@Url.Action("EditCustomer", "Admin", new { id = Session["CustomerId"] })" class="btn btn-lg bg-gradient-info btn-lg w-100 mt-4 mb-0">
                                    Back
                                </a>
                            </div>
                            <div class="text-center float-end">
                                <button type="submit" ng-click="AddCustLocationFromEditCust()" class="btn btn-lg bg-gradient-info btn-lg w-100 mt-4 mb-0">Add Company Location</button>
                            </div>
                        </form>
                    </div>
                </div>
                @Html.Partial("_FooterLayout")
            </div>
        </div>
    </div>
</main>
