@model CamV4.Models.ComponentPriceListViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<script src="~/NgScript/Controller/componentPriceCtrl.js"></script>

<main class="main-content2 position-relative max-height-vh-100 h-100 border-radius-lg " ng-app="myApp" ng-controller="componentPriceCtrl">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="@Url.Action("ManageComponent", "Admin")">Dashboard</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Component Price</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Hello @Session["LoggedInUserName"]!</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                </div>
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-flex align-items-center">
                        <a href="@Url.Action("Login", "Account")" class="nav-link text-body font-weight-bold px-0">
                            <i class="fa fa-sign-out me-sm-1"></i>
                            <span class="d-sm-inline d-none">Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header card-blue p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="pt-4 pb-4">
                            <div class="row">
                                <div class="col-6 d-flex align-items-center">
                                    <h6 class="text-white text-capitalize ps-3 mt-2">Edit Component Price</h6>
                                </div>
                                <div class="col-6 text-end">
                                    <h6 class="text-white text-capitalize ps-3 mt-2 mx-3">@Session["ComponentPriceId"]</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="">
                            <input id="antiForgeryToken" ng-model="antiForgeryToken" type="hidden" ng-init="antiForgeryToken='@GetAntiForgeryToken()'" />
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>Component</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <input type="text" class="form-control" name="ComponentName" id="ComponentName" ng-model="ComponentName" ng-init="ComponentName = '@Model.ComponentName'" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <span>Manufacturer *</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <select name="ManufacturerId" id="drpManufacturer" class="form-control" ng-model="ManufacturerId" ng-init="ManufacturerId = '@Model.ManufacturerId'">
                                            <option value="">-- Select --</option>
                                            <option ng-repeat="d in getAllManufacturer" value="{{d.ManufacturerId}}">{{d.ManufacturerName}}</option>
                                        </select>
                                    </div>
                                    @if (Model.ManufacturerId != null)
                                    {
                                        <span class="text-sm text-rose" ng-if="!province && !country">Please Select Manufacturer</span>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>Item/Part No. :</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <input type="text" class="form-control" name="ItemPartNo" id="ItemPartNo" ng-model="ItemPartNo" ng-init="ItemPartNo = '@Model.ItemPartNo'" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-4">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>Unit Wt(lb)</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <input type="text" class="form-control" name="ComponentWeight" id="ComponentWeight" ng-model="ComponentWeight" ng-init="ComponentWeight = '@Model.ComponentWeight'" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    Surcharge(%)
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <input type="text" class="form-control" name="Surcharge" id="Surcharge" ng-model="Surcharge" ng-init="Surcharge = '@Model.Surcharge'">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>Unit List Price($)</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <input type="text" class="form-control" name="ComponentPrice" id="ComponentPrice" ng-model="ComponentPrice" ng-init="ComponentPrice = '@Model.ComponentPrice'">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    Markup
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <input type="text" class="form-control" name="Markup" id="Markup" ng-model="Markup" ng-init="Markup = '@Model.Markup'">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>Total(Unit Price X Surcharge X Markup)</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <input type="text" class="form-control" name="TotalPrice" id="TotalPrice" ng-model="TotalPrice" ng-init="TotalPrice = '@Model.TotalPrice'">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <span>Labour(Minutes)</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <input type="text" class="form-control" name="ComponentLabourTime" id="ComponentLabourTime" ng-model="ComponentLabourTime" ng-init="ComponentLabourTime = '@Model.ComponentLabourTime'">
                                    </div>
                                </div>
                            </div>                           
                            <div class="row">
                                <div class="col-sm-2">
                                    <span>Description</span>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group input-group-outline mb-3">
                                        <textarea type="text" class="form-control" id="ComponentPriceDescription" ng-model="ComponentPriceDescription" name="ComponentPriceDescription" ng-init="ComponentPriceDescription = '@Model.ComponentPriceDescription'"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center float-end">
                                <button type="submit" ng-click="EditComponentPrice(@Model.ComponentPriceId)" class="btn btn-lg bg-gradient-info btn-lg w-100 mt-4 mb-0">Update Component Price</button>
                                <span style="color:red">{{errorNot}}</span>
                            </div>
                        </form>
                    </div>
                </div>
                <br />

                <div class="card my-4">
                    <div class="card-header card-blue p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="pt-4 pb-4">
                            <div class="row">
                                <div class="col-6 d-flex align-items-center">
                                    <h6 class="text-white text-capitalize ps-3 mb-0">Component Price Properties</h6>
                                </div>
                                <div class="col-6 text-end">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-dark text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Property Type Description</th>
                                        <th class="text-dark text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Property Value</th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ComponentPriceListViewModelDetails)
                                    {
                                        <tr>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">@item.ComponentPricePropertyTypeDescription</p>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">@item.ComponentPricePropertyValue</p>
                                            </td>
                                            <td class="align-middle">
                                                <a href="#">
                                                    <i class="material-icons text-lg">delete</i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>                           
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_FooterLayout")
</main>
