@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/ui-bootstrap-tpls-0.11.0.js"></script>
@*<script src="~/Scripts/pdfmake/pdfmake.min.js"></script>*@
@*<script src="~/Scripts/pdfmake/vfs_fonts.js"></script>*@
<script src="~/Scripts/html2canvas.min.js"></script>
<script src="~/NgScript/Controller/inspectionlistingCtrl.js"></script>
@{
    var userType = Session["LoggedInUserType"].ToString();
}
<main class="main-content2 position-relative max-height-vh-100 h-100" ng-app="myApp" ng-controller="inspectionlistingCtrl">
    <input type="hidden" name="GridHtml" id="GridHtml" />
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    @if (userType == "1")
                    {
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="@Url.Action("Index", "Admin")">Dashboard</a></li>
                    }
                    else
                    {
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="@Url.Action("Index", "Employee")">Dashboard</a></li>
                    }

                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Inspection</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Hello @Session["LoggedInUserName"]!</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group input-group-outline">
                        <input type="search" class="form-control" placeholder="Type here..." ng-model="search" id="example-search-input">
                    </div>
                </div>
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-flex align-items-center">
                        <a href="@Url.Action("Login", "Account")" class="nav-link text-body font-weight-bold px-0">
                            <i class="fa fa-sign-out me-sm-1"></i>
                            <span class="d-sm-inline d-none">Sign Out</span>
                        </a>
                    </li>
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4" id="tblInspection">
                    <div class="card-header card-blue p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="pt-4 pb-4">
                            <div class="row">   
                                <div class="col-6 d-flex align-items-center">
                                    <h6 class="text-white text-capitalize ps-3 mb-0">Inspections</h6>
                                </div>
                                <div class="col-6 text-end">
                                    <a class="btn bg-gradient-dark mb-0 mx-3" href="@Url.Action("AddInspectionDue", "Admin")"><i class="material-icons text-sm">add</i>&nbsp;&nbsp;Add New Inspection Due</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-dark text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Document No</th>
                                        <th class="text-dark text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Date</th>
                                        <th class="text-dark text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Company</th>
                                        <th class="text-dark text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Employee</th>
                                        @*<th class="text-dark text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Inspection Type</th>*@
                                        <th class="text-dark text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Area and Location</th>
                                        <th class="text-dark text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Inspection status</th>
                                        <th class="text-secondary opacity-7"></th>
                                        @*<th class="text-secondary opacity-7"></th>*@
                                        <th class="text-secondary opacity-7"></th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                </thead>
                                @if (userType == "1")
                                {
                                    <tbody ng-repeat="d in getAllInspection | filter:search | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
                                        <tr ng-click="InspectionsheetClick(d.InspectionId)">
                                            <td class="align-middle text-sm">
                                                <span class="text-secondary text-xs font-weight-bold">{{d.InspectionDocumentNo}}</span>
                                            </td>
                                            <td class="align-middle text-sm">
                                                <span class="text-secondary text-xs font-weight-bold"> {{d.InspectionDate| date:'MMMM dd, yyyy'}}</span>
                                            </td>
                                            <td class="align-middle text-sm">
                                                <span class="text-secondary text-xs font-weight-bold">{{d.Customer}}</span>
                                            </td>
                                            <td class="align-middle text-sm">
                                                <span class="text-secondary text-xs font-weight-bold">{{d.Employee}}</span>
                                            </td>
                                            @*<td class="align-middle text-sm">
            <span class="text-secondary text-xs font-weight-bold">{{d.InspectionType}}</span>
        </td>*@
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">{{d.CustomerArea}}<span ng-if="d.CustomerArea && d.CustomerLocation">,</span> {{d.CustomerLocation}}</p>
                                            </td>
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="badge badge-sm bg-gradient-finished" ng-show="d.InspectionStatus == 9">Finished</h6>
                                                        <h6 class="badge badge-sm bg-gradient-repaircompleted" ng-show="d.InspectionStatus == 8">Repair Completed</h6>
                                                        <h6 class="badge badge-sm bg-gradient-quotationapproval" ng-show="d.InspectionStatus == 7">Quotation Approved</h6>
                                                        <h6 class="badge badge-sm bg-gradient-quotationawaitingapproval" ng-show="d.InspectionStatus == 6">Awaiting Approval</h6>
                                                        <h6 class="badge badge-sm bg-gradient-requestquotation" ng-show="d.InspectionStatus == 5">Quotation Requested</h6>
                                                        <h6 class="badge badge-sm bg-gradient-completed" ng-show="d.InspectionStatus == 4">Completed</h6>
                                                        <h6 class="badge badge-sm bg-gradient-sendforapproval" ng-show="d.InspectionStatus == 3">Send for Approval</h6>
                                                        <h6 class="badge badge-sm bg-gradient-inprogress" ng-show="d.InspectionStatus == 2">In Progress</h6>
                                                        <h6 class="badge badge-sm bg-gradient-due" ng-show="d.InspectionStatus == 1">Inspection Due</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="" ng-click="EditInspectionFile(d.InspectionId)">

                                                </a>
                                                <a href="@Url.Action("ManageInspectionFiles", "Admin")?id={{d.InspectionId}}">
                                                    <i class="material-icons text-lg">file_open</i>
                                                </a>
                                            </td>
                                            @*<td>
                                                <a href="@Url.Action("DeleteInspectionDue", "Admin")?id={{d.InspectionId}}"><i class="material-icons description">description</i></a>
                                            </td>*@
                                            <td>
                                                <a href="@Url.Action("ToPdfV2", "Admin")?id={{d.InspectionId}}"><i class="material-icons text-lg">download</i></a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("DeleteInspectionDue", "Admin")?id={{d.InspectionId}}"><i class="material-icons deleted">delete</i></a>
                                            </td>

                                            @*<td ng-click="DinePdfClick()">
            <a href=""><i class="material-icons text-lg">download</i></a>
        </td>*@
                                        </tr>
                                    </tbody>
                                }
                                else  //employee
                                {
                                    <tbody ng-repeat="d in getAllInspectionByEmployeeId | filter:search | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
                                        <tr ng-click="InspectionDetailByEmployeeClick(d.InspectionId)">
                                            <td class="align-middle text-sm">
                                                <span class="text-secondary text-xs font-weight-bold">{{d.InspectionDocumentNo}}</span>
                                            </td>
                                            <td class="align-middle text-sm">
                                                <span class="text-secondary text-xs font-weight-bold"> {{d.InspectionDate| date:'MMMM dd, yyyy'}}</span>
                                            </td>
                                            <td class="align-middle text-sm">
                                                <span class="text-secondary text-xs font-weight-bold">{{d.Customer}}</span>
                                            </td>
                                            <td class="align-middle text-sm">
                                                <span class="text-secondary text-xs font-weight-bold">{{d.Employee}}</span>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">{{d.CustomerArea}}<span ng-if="d.CustomerArea && d.CustomerLocation">,</span> {{d.CustomerLocation}}</p>
                                            </td>
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="badge badge-sm bg-gradient-finished" ng-show="d.InspectionStatus == 9">Finished</h6>
                                                        <h6 class="badge badge-sm bg-gradient-repaircompleted" ng-show="d.InspectionStatus == 8">Repair Completed</h6>
                                                        <h6 class="badge badge-sm bg-gradient-quotationapproval" ng-show="d.InspectionStatus == 7">Quotation Approved</h6>
                                                        <h6 class="badge badge-sm bg-gradient-quotationawaitingapproval" ng-show="d.InspectionStatus == 6">Awaiting Approval</h6>
                                                        <h6 class="badge badge-sm bg-gradient-requestquotation" ng-show="d.InspectionStatus == 5">Quotation Requested</h6>
                                                        <h6 class="badge badge-sm bg-gradient-completed" ng-show="d.InspectionStatus == 4">Completed</h6>
                                                        <h6 class="badge badge-sm bg-gradient-sendforapproval" ng-show="d.InspectionStatus == 3">Send for Approval</h6>
                                                        <h6 class="badge badge-sm bg-gradient-inprogress" ng-show="d.InspectionStatus == 2">In Progress</h6>
                                                        <h6 class="badge badge-sm bg-gradient-due" ng-show="d.InspectionStatus == 1">Inspection Due</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("ManageInspectionFiles", "Admin")?id={{d.InspectionId}}">
                                                    <i class="material-icons text-lg">file_open</i>
                                                </a>
                                            </td>
                                            <td>
                                                @*<a href=""><i class="material-icons deleted">delete</i></a>*@
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                            @if (userType == "1")
                            {
                                <nav>
                                    Show <select ng-model="viewby" ng-change="setItemsPerPage(viewby)" style="height:25px">
                                        <option>5</option>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>30</option>
                                        <option>40</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select> of {{getAllInspectioncount}} Inspections
                                    <pagination total-items="totalgetAllInspection" ng-model="currentPage" max-size="maxSize" class="pagination" rotate="false" num-pages="numPages"
                                                items-per-page="itemsPerPage" previous-text="«" next-text="»"></pagination>
                                </nav>
                            }
                            else
                            {
                                <nav>
                                    Show <select ng-model="viewby" ng-change="setItemsPerPage(viewby)" style="height:25px">
                                        <option>5</option>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>30</option>
                                        <option>40</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select> of {{getAllInspectionByEmployeeIdcount}} Inspections
                                    <pagination total-items="totalgetAllInspectionByEmployeeId" ng-model="currentPage" max-size="maxSize" class="pagination" rotate="false" num-pages="numPages"
                                                items-per-page="itemsPerPage" previous-text="«" next-text="»"></pagination>
                                </nav>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_FooterLayout")
</main>